<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-test-otakeys" version="0.0.1">
  <name>Test Otakeys</name>

  <description>OtaKeys SDK integration</description>
  <license>MIT</license>

  <repo>https://github.com/mlourenco/cordova-plugin-test-otakeys.git</repo>

  <js-module src="www/otakeys.js" name="otakeys">
    <clobbers target="otakeys" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="Otakeys">
        <param name="android-package" value="com.mobiag.cordova.plugin.Otakeys"/>
      </feature>
    </config-file>

    <source-file src="src/android/Otakeys.java" target-dir="src/com/mobiag/cordova/plugin" />
    <framework src="src/android/otakeysLib" custom="true" />
  </platform>
</plugin>