<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-test-otakeys" version="0.0.1">
  <name>Test Otakeys</name>

  <description>OtaKeys SDK integration</description>
  <license>MIT</license>

  <repo>https://github.com/mlourenco/cordova-plugin-test-otakeys.git</repo>

  <js-module src="www/otakeys.js" name="otakeys">
    <clobbers target="otakeys" />
  </js-module>
  <platform name="android">
    <source-file src="src/android/com/mobiag/cordova/plugin/otakeys/Otakeys.java" target-dir="src/com/phonegap/plugins/otakeys"/>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Otakeys">
        <param name="android-package" value="com.mobiag.cordova.plugin.otakeys.Otakeys"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.BLUETOOTH" />
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    </config-file>
    <framework src="src/android/Otakeys.gradle" custom="true" type="gradleReference"/>
    <framework src="com.android.support:support-v4:$ANDROID_SUPPORT_V4_VERSION"/>
    <lib-file src="src/android/otakeys-sdk-3.10.1.aar"/>
    <preference name="ANDROID_SUPPORT_V4_VERSION" default="27.+"/>
  </platform>
</plugin>